body, dd, dl, dt, h1, h2, h3, h4, h5, ul, ol, li, p, form, select, input {
    margin: 0;
    padding: 0
}

body {
    zoom: 0.8;
}

ul, li {
    list-style: none
}

img {
    border: 0
}

input, select {
    font-family: Arial, "Microsoft YaHei"
}

input[type=checkbox], input[type=radio] {
    margin: 0;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: -2px;
    border: 0
}

:focus {
    outline: 0
}

form, fieldset {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: normal
}

button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
    border: 0;
    padding: 0
}

h1, h2, h3, h4, h5 {
    font-family: Arial, "Microsoft YaHei";
    font-weight: 400;
    font-size: 12px
}

button, input[type=button], input[type=submit], input[type=reset], input[type=file] {
    cursor: pointer
}

em, i {
    font-style: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

th {
    font-weight: 400;
    text-align: left
}

body {
    background: #fff;
    color: #333;
    min-width: 1400px
}

a {
    text-decoration: none;
    color: #333
}

.block {
    display: block
}

.inline {
    display: inline
}

.inline-b {
    display: inline-block
}

.none {
    display: none
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.strong {
    font-weight: 700
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}

.vm {
    vertical-align: middle
}

.vt {
    vertical-align: top
}

.vb {
    vertical-align: bottom
}

.fl {
    float: left
}

.fr {
    float: right
}

.fontstyle {
    font-style: oblique
}

.cursor {
    cursor: pointer
}

.underline, .underline:hover {
    text-decoration: underline
}

.clear {
    clear: both
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1
}

.overflow {
    overflow: hidden
}

.fonthide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.warp {
    width: 1400px;
    margin: 0 auto
}

.btn-down {
    position: absolute;
    text-align: left;
    font-size: 16px;
    color: #fff;
    line-height: 44px;
    height: 44px;
    background: #0fcae4 url(../images/download.png) no-repeat 130px center;
    border-radius: 44px;
    display: inline-block;
    width: 150px;
    padding-left: 18px;
    text-transform: uppercase;
    z-index: 1234;

}

.header {
    background: #191b54;
    position: relative;
    z-index: 10;
    height: 100px
}

.header.newscolor {
    background: #050b4f;
}

.header .warp {
    position: relative
}

.header .logo {
    position: absolute;
    margin: 40px 0 0 26px
}

.header .language {
    /*position: absolute;
    margin-right: -100px;
    top: 55px;
    right: 0*/
    float: right;
    margin-top: 60px;
}

.header .language select {
    font-size: 14px;
    background: 0 0;
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: #191b54;
}

.header .menu {
    float: right;
    font-size: 20px;
    padding-top: 40px
}

.header .menu li {
    float: left;
    line-height: 60px;
    padding: 0 30px
}

.header .menu li div {
    display: none
}

.header .menu .nav > a {
    background: url(../images/down.png) no-repeat right center;
    padding-right: 25px
}

.header .menu .nav div {
    position: absolute;
    background: #2f35aa;
    font-size: 14px;
    padding: 0 1px;
    border-radius: 5px;
    margin-left: -40px
}

.header .menu .nav div a {
    color: #acaed7;
    display: block;
    line-height: 48px;
    border-top: 1px #373db4 solid;
    padding: 0 30px
}

.header .menu .nav div a:first-child {
    border-top: 0
}

.header .menu .nav div a:hover {
    color: #fff
}

.header .menu .nav div::before {
    content: "";
    position: absolute;
    background: url(../images/delta.png) no-repeat;
    width: 15px;
    height: 7px;
    top: -7px;
    left: 50%;
    margin-left: -7px
}

.header .menu .nav:hover > a {
    background: url(../images/up.png) no-repeat right center
}

.header .menu .nav:hover div {
    display: block
}

.header .menu a {
    color: #fff
}

.header .menu li > a {
    display: block
}

.footer {
    background: #151a2d;
    overflow: hidden
}

.footer .footer-con02 {
    border-top: 1px #292e41 solid;
    line-height: 96px;
    font-size: 16px;
    color: #a3a8bc
}

.footer .footer-con02 span {
    margin-right: 30px
}

.footer .footer-con02 .logo {
    margin-top: 30px
}

.footer .footer-con01 {
    font-size: 16px;
    padding: 65px 0 30px
}

.footer .footer-con01 a {
    color: #a3a8bc;
    display: block;
    margin-bottom: 20px;
}

.footer .footer-con01 a:hover {
    color: #0fcae4
}

.footer .footer-con01 .warp {
    width: 1100px;
}

.footer .footer-con01 ul {
    overflow: hidden;
}

.footer .footer-con01 li {
    float: left;
    margin-right: 110px
}

.footer .footer-con01 li:last-child {
    margin-right: 0;
}

.footer .footer-con01 h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px
}
