.container{width: 1200px; height: 400px;overflow: hidden;margin:0 auto;position: relative;}
.conthird{
    position: absolute;
    left: 531px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #0187aa transparent transparent transparent;
}
#timeline {
    width: 1300px;
    height: 420px;
    overflow: scroll;
    position: relative;
}
.container ul{border-left: 2px #0187aa solid; list-style:none;margin-left: 540px;}
.container ul li{
    width: 340px;
    min-height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 1px #0187aa;
    padding: 14px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
    margin-top: 60px;
    margin-left: 30px;
    position: relative;
}
.container ul li.left{
    margin-left: -400px;
}
.container ul li:after,
.container ul li:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
}
.container ul li.right:after,
.container ul li.right:before {
    border-right-color: #0187aa;
    top: 10px;
    left: -16px;
}

.container ul li.right:after {
    border-right-color: #fff;
    left: -14px;
}
.container ul li.left:after,
.container ul li.left:before {
    border-left-color: #0187aa;
    top: 10px;
    right: -16px;
}
.container ul li.left:after {
    border-left-color: #fff;
    right: -14px;
}
.container ul li span{
    position: absolute;
    display: block;
    border-radius: 50%;
}
.container ul li span:nth-child(3n){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0187aa;
    z-index: 11;
}
.container ul li span:nth-child(2n){
    width: 18px;
    height: 18px;
    background: #fff;
    z-index: 22;
}
.container ul li.right span:nth-child(3n){
    left: -47px;
    top: -3px;
}
.container ul li.left span:nth-child(3n){
    left: 382px;
    top: -3px;
}
.container ul li.right span:nth-child(2n){
    left: -41px;
    top: 3px;
}
.container ul li.left span:nth-child(2n){
    left: 388px;
    top: 3px;
}
.container ul li b{
    position: absolute;
    display: block;
    z-index: 33;
    width: 180px;
}
.container ul li a{
    color: #0fcae4;
}
.sen li.right b{
    left: -228px;
    top: 3px;
}
.szh li.right b{
    left: -208px;
}
.container ul li.left b{
    left: 445px;
    top: 3px;
}