#timeline {
    width: 1200px;
    height: 350px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
}
#dates {
    width: 1200px;
    height: 60px;
    overflow: hidden;
}
#dates li {
    list-style: none;
    float: left;
    width: 200px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('../images/biggerdot.png') center bottom no-repeat;
}
#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}
#dates .selected {
    font-size: 38px;
}

#issues {
    width: 1200px;
    height: 350px;
    padding-top: 0;
    margin-top: 50px;
    overflow: hidden;
}
#issues li {
    width: 1200px;
    height: 350px;
    list-style: none;
    float: left;
}
#issues li img {
    float: left;
    margin: 10px 30px 10px 50px;
    visibility: hidden;
}
#issues li h1 {
    color: #ffcc00;
    font-size: 48px;
    margin: 20px 0;
    text-shadow: #000 1px 1px 2px;
}
#issues li p {
    font-size: 18px;
    padding: 20px 70px;
    font-weight: normal;
    line-height: 32px;
    text-indent: 36px;
}

#grad_left,
#grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}
#grad_left {
    left: 0;

}
#grad_right {
    right: 0;

}

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 32px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
#next {
    right: 0;
    top: 270px;
}
#prev {
    left: 0;
    top: 270px;
}
#next.disabled,
#prev.disabled {
    opacity: 0.2;
}